.App {
    font-family: Arial, Helvetica, sans-serif;
    background-color: black;
}



table {
    width:100%;
    border: 2px solid black;
    background:white;
    border-collapse:collapse;
}

th {
    border-bottom: 1px solid black;
}

td {
    text-align: center;
    border: 2px solid black;
    margin: 0px;
}

p {
    margin: 0px;
}